<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Landing Page{% endblock %}

{% block content %}
    <p></p>

    <div class="text-center">

        <h1 >About page</h1>
        <p></p>
        <h4>You don't need your childhood toys anymore? Join Golden Trashcan<br/>
        You don't need your broken shoes anymore? Join Golden Trashcan<br/>
        You dont't need your uranium toxic waste anymore? Join Golden Trashcan</h4>


        <br/>
        <br/>
        <p>Here at Golden Trashcan you can put to sell and buy any second-hand item you want.</p>
        <p>It could be anything, we have no restrictions.</p>
        <p></p>
        <p>Take your time and join us, there's plenty of garbage for everyone!</p>
    </div>


{% endblock %}