<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Contact Page{% endblock %}

{% block content %}
    <p></p>
    <h1 class="text-center">Contacs</h1>
    <ul>
        <li>Marc: <a href="mailto:mymberca7@alumnes.ub.edu">mymberca7@alumnes.ub.edu</a></li>
        <li>Joan: <a href="mailto:jbareafe7@alumnes.ub.edu">jbareafe7@alumnes.ub.edu</a></li>
        <li>Alex: <a href="mailto:ajoussjo7@alumnes.ub.edu">ajoussjo7@alumnes.ub.edu</a></li>
        <li>Lukas: <a href="mailto:lukas@kubacki.cz">lukas@kubacki.cz</a></li>
        <li>Paolo: <a href="mailto:pdidiodi7@alumnes.ub.edu">pdidiodi7@alumnes.ub.edu</a></li>
    </ul>
{% endblock %}