<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--color: #50545A;-->
<style>
  #mainCon{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    text-align: center;
    position: relative;
    color: #000000;
    z-index: 3;
    width: 100%;
  }

  #overText{
    font-size: 40px;
  }
  #overTextSub{
    font-size: 26px;
  }
  #backImage{
	position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; 
	width: 50%; 
	text-align: center;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
	}
.categoriesPick {
    padding-top: 0%;
    display: table;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    position: relative;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0 auto;
    width: 614px;
    list-style: none;
}
.catIcon {
    -webkit-flex: 0 0 91px;
    flex: 0 0 91px;
    height: 91px;
    margin-bottom: 10px;
    background-color: #ffe47a;
}
.catIcon a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
}
.catIconLabel {
    font-size: 9px;
    display: block;
    text-align: center;
    line-height: 8px;
    padding: 28px;
    color: #000000;
}
.catIconImage{
    display: block;
    margin: 10px auto;
    font-size: 22px;
    text-align: center;
}





.titleLayout {
	position: center;
	padding: 15px;
	padding-top: 20px;
}
  #overCategory{
    font-size: 26px;
    text-align: center;
    position:relative;
      padding-top: 6%;
  }



</style>




<div id="mainCon">
	<p> <img src="/static/images/goldenbags.png" alt="Background Frontpage" id="backImage"> </p>
	<div class="titleLayout">
		<p id="overText">I use it then I trash it</p>
		<p id="overTextSub">One man's trash is another man's treasure</p>
	</div>

</div>

<br/>
<br/>
<div id="overCategory">
    <p>Every category you can imagine</p>
</div>

<div class="categoriesPick">
    <div class="catIcon">
        <a href="/login" title="vehicles">
            <span class="catIconImage">
                <img src="/static/images/icons_home/vehicle.png" width="30%">
            </span>
            <span class="catIconLabel">vehicles</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="houses">
            <span class="catIconImage">
                <img src="/static/images/icons_home/house.png"width="30%">
            </span>
            <span class="catIconLabel">houses</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="homes">
            <span class="catIconImage">
                <img src="/static/images/icons_home/home.png"width="30%">
            </span>
            <span class="catIconLabel">homes</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="fashion">
            <span class="catIconImage">
                <img src="/static/images/icons_home/fashion.jpg"width="30%">
            </span>
            <span class="catIconLabel">fashion</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="children">
            <span class="catIconImage">
                <img src="/static/images/icons_home/children.png"width="30%">
            </span>
            <span class="catIconLabel">children</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="electronics">
            <span class="catIconImage">
                <img src="/static/images/icons_home/electronics.png"width="20%">
            </span>
            <span class="catIconLabel">electronics</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="sports">
            <span class="catIconImage">
                <img src="/static/images/icons_home/sports.png"width="30%">
            </span>
            <span class="catIconLabel">sports</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="animals">
            <span class="catIconImage">
                <img src="/static/images/icons_home/animal.png"width="30%">
            </span>
            <span class="catIconLabel">animals</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="work">
            <span class="catIconImage">
                <img src="/static/images/icons_home/work.png"width="30%">
            </span>
            <span class="catIconLabel">work</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="business">
            <span class="catIconImage">
                <img src="/static/images/icons_home/business.png"width="30%">
            </span>
            <span class="catIconLabel">business</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="others">
            <span class="catIconImage">
                <img src="/static/images/icons_home/others.png"width="30%">
            </span>
            <span class="catIconLabel">others</span>
        </a>
    </div>
    <div class="catIcon">
        <a href="/login" title="all categories">
            <span class="catIconImage">
                <img src="/static/images/icons_home/all.png"width="30%">
            </span>
            <span class="catIconLabel">all categories</span>
        </a>
    </div>
</div>


{% endblock %}