<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p class="text-center">Work in construction ...</p>

{% if user.is_authenticated %}
<div class="text-center">
    Hi {{ user.username }}!
  <p><a href="{% url 'profile' pk=user.profile.pk %}">Access profile</a></p>
  <p><a href="{% url 'newpost' %}">New post</a></p>

    <p><a href="{% url 'logout' %}">logout</a></p>

        <button id="search" class="btn btn-secondary" >Search users</button>
              <script type="text/javascript">
                  document.getElementById("search").onclick = function () {
                      console.log("HOLA");
                      location.href = "{% url 'allusers' %}";
                  };
              </script>

        <button id="all_posts_button" class="btn btn-secondary" >View all posts</button>
              <script type="text/javascript">
                  document.getElementById("all_posts_button").onclick = function () {
                      console.log("HOLA, my friendos");
                      location.href = "{% url 'all_posts' %}";
                  };
              </script>

        <button id="search_posts_button" class="btn btn-secondary" >Search for a product</button>
              <script type="text/javascript">
                  document.getElementById("search_posts_button").onclick = function () {
                      location.href = "{% url 'search_posts' %}";
                  };
              </script>

            <button id="all_favs_button" class="btn btn-secondary" >All favourite posts</button>
              <script type="text/javascript">
                  document.getElementById("all_favs_button").onclick = function () {
                      location.href = "{% url 'all_favourites' %}";
                  };
              </script>


</div>
{% else %}
<div class="text-center">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <p></p>
  <a href="{% url 'signup' %}"> sign up</a>
</div>
{% endif %}
{% endblock %}

<br/>
<br/>

