<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p> You occupation is {{user.profile.occupation}} </p>
  <p> You bio is {{user.profile.bio}} </p>
  <p> You location is {{user.profile.location}} </p>
  <p><a href="{% url 'change' %}">Change profile</a> </p>
  <p><a href="{% url 'home' %}">Back home</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'home' %}">back to home page</a>
{% endif %}
{% endblock %}

<br/>
<br/>
<footer> Here add all the Privacy/Copyright etc.. informations </footer>
