<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  
<form method="post">
  	<p>&nbsp;</p>
  	<h2 class="text-center">Sign up form</h2>
  	<p>&nbsp;</p>
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        {% csrf_token %}
	    {{ form.as_p }}
	</div>
</div>
<div style="text-align: center;">
	<button type="submit" class="btn btn-secondary" >Sign Up</button>
</div>
</form>



{% endblock %}