<!-- templates/home.html -->
{% extends 'base.html' %}
<style>
body {
  min-height: 100vh;
}
.text-gray {
  color: #aaa;
}
</style>
{% block title %}Found posts{% endblock %}

{% block content %}

        <h1 style="text-align: center; margin-top: 30px">For request {{ request_text }} on {{ request_type }} field found posts: </h1>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow">
{% if posts %}
     {% for post in posts %}
           <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{ post.title }}</h5>
              <p class="font-italic text-muted mb-0 small">{{ post.body }}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">Posted on {{ post.date }}</h6>
              </div>
			  <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-italic">{{ post.city }} ({{ post.location_code }}),{{ post.street }}</h6>
              </div>
            </div>
			<img src="/static/images/box.png" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->
     {% endfor %}
            </ul>
    </div>
  </div>
</div>
{% else %}
    <p>No posts are available.</p>
{% endif %}
        <button id="home_button1" class="btn btn-secondary" >Home</button>
              <script type="text/javascript">
                  document.getElementById("home_button1").onclick = function () {
                      location.href = "{% url 'home' %}";
                  };
              </script>

        <button id="search_posts_button" class="btn btn-secondary" >Back to search</button>
              <script type="text/javascript">
                  document.getElementById("search_posts_button").onclick = function () {
                      location.href = "{% url 'search_posts' %}";
                  };
              </script>

{% endblock %}


<br/>
<br/>
<footer> Here add all the Privacy/Copyright etc.. informations </footer>