{% extends 'base.html' %}

{% block title %}Post page{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<br/>
<div class="text-center">
    <h2>Post resume</h2>
    <br/>
    <p>Date: {{ post.date }}, {{ post.time }}</p>
    <p>Title: {{ post.title }}</p>
    <p>Body: {{ post.body }}</p>
    <p>Street: {{ post.street }}</p>
    <p>City: {{ post.city }}</p>
    <p>Location code: {{ post.location_code }}</p>
        {% for comment in comments %}
        <p>Commentor: {{ comment.user }}, date: {{ comment.date }} </p>
        <p>{{ comment.comment_body }}</p>
        {% endfor %}

        <br/>
        <h4>Add comment</h4>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit comment</button>
      </form>

    <br/>
    <a href="{% url 'favourite_post' pk=post.pk %}">Favourite this post</a><br/>
    <a href="{% url 'newpost' %}">Make another post</a><br/>
    <a href="{% url 'editpost' pk=post.pk %}">Edit this post</a><br/>
    <a href="{% url 'delete_post' pk=post.pk %}">Delete this post</a><br/>


    <br/>
        <button id="all_posts_button" class="btn btn-secondary" >View all posts</button>
                  <script type="text/javascript">
                      document.getElementById("all_posts_button").onclick = function () {
                          location.href = "{% url 'all_posts' %}";
                      };
                  </script>
</div>
{% endif %}
{% endblock %}

<br/>
