<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p> You name is {{user.profile.first_name}} {{user.profile.last_name}} </p>
<p> You bio is: </p><p> {{user.profile.bio}} </p>
<p> You location is: </p> <p> {{user.profile.street}} {{user.profile.city}} {{user.profile.location_code}} </p>
  <p><a href="{% url 'change' %}">Change profile</a> </p>
  <p><a href="{% url 'home' %}">Back home</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'home' %}">back to home page</a>
{% endif %}
{% endblock %}

<br/>
<br/>
<footer> Here add all the Privacy/Copyright etc.. informations </footer>
